bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/

packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

*.log
*.tlog
*.cache
*.tmp

publish/
*.Publish.xml

TMSFirmware/sdkconfig
TMSFirmware/sdkconfig.old

.DS_Store
Thumbs.db
desktop.ini

*.pdb
*.exe
*.dll
*.db